/* general */

body {
  color: #777777;
  background: url("../Images/light-grey-terrazzo.png");
}

.container {
  max-width: 960px;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
  border-bottom: 3px solid #dddddd;
  color: #4aaaa5;
}


/* header */

#heading {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#myName {
  float: left;
  width: 250px;
  font-size: 30px;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
}

.navbar {
  float: right;
  height: 90px;
}

nav a {
  padding-left: 15px;
  margin-left: 15px;
  color: #999;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  /* margin-bottom: 130px; */
}

.main-section {
  padding: 30px;
  margin-bottom: 110px;
  background: #ffffff;
  border: 1px solid #dddddd;
}


/* portfolio page */

.card-img-top {
  width: 100%;
  opacity: 0.8;
  width: 200px;
  height: 150px;
  margin-top: 20px;
  margin-left: 42px;
}

h3 {
  padding: 10px;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  background: #4aaaa5;
  font-size: 22px;
  width: 100%;
  text-align: center;
}

/* contact page */

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

input[type=submit] {
  padding: 10px 30px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
}

/* footer */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}